<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Communities Guide</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header class="container header">
    <div class="row">
        <div class="col-xs-6">
            <h1>Iasi Communities Guide</h1>
            <h2>Simple Bootstrap/ Isotope on Node JS</h2>
        </div>
        <div class="col-xs-6">
            <%if (!user.name) {%>
                 <button class="btn btn-primary pull-right" id="login">Login</button>
            <% } else { %>
            <ul class="nav nav-pills">
                <li role="presentation" class="dropdown">
                    <img src="<%=user.avatar%>">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        Welcome, <%=user.name%><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <% if (user && user.facebook && user.facebook.token) {%>
                            <a href="/unlink/facebook" class="btn btn-primary">Unlink Facebook</a>
                        <%} else { %>
                             <a href="/auth/facebook" class="btn btn-primary">Login Facebook</a>
                        <% } %>
                        <% if (user && user.twitter && user.twitter.token){ %>
                            <a href="/unlink/twitter" class="btn btn-primary">Unlink Twitter</a>
                        <%} else { %>
                            <a href="/auth/twitter" class="btn btn-primary">Login Twitter</a>
                        <% } %>
                        <a id="logout" type="button" class="btn btn-primary" href="/logout">Logout</a>
                    </ul>
                </li>
            </ul>
            <%}%>
        </div>
    </div>
</header>

<div class="container controls">
    <div class="row filters">
        <div class="col-xs-12">
            <label>Filters:</label>
            <button class="btn btn-primary" data-filter="*">show all</button>
            <button class="btn btn-success" data-filter=".technology">technology</button>
            <button class="btn btn-success" data-filter=".other">other</button>
            <button class="btn btn-success" data-filter=".creative">creative</button>
            <button class="btn btn-info" data-filter=".technology, .creative">technology &amp; creative</button>
            <button class="btn btn-danger" data-filter=":not(.creative)">not creative</button>
            <button class="btn btn-warning" data-filter=".technology:not(.other)">technology but not other</button>
        </div>
    </div>
    <div class="row sorts">
        <div class="col-xs-12">
            <label>Sorting:</label>
            <button class="btn btn-primary" data-sort="original-order">original order</button>
            <button class="btn btn-success" data-sort="interest">interest</button>
            <button class="btn btn-danger" data-sort="alpha">alpha</button>
        </div>
    </div>
</div>


<div class="container isotope">
    <div class="row">
        <% for (var i=0; i<communities.length; i++) {%>
        <div class="col-lg-3 col-md-4 col-sm-6 item <%= communities[i].category.join(' ') %>" data-interest=<%= communities[i].category.join(', ') %>>
            <div class="visual">
                <% if (communities[i].photoURL) {%>
                <img src=<%=communities[i].photoURL%> >
                <% } %>
            </div>
            <div class="description">
                <h3><%= communities[i].title %></h3>
                <p><%= communities[i].desc %></p>
                <ul class="list-inline">
                    <% if (communities[i].webLink) {%>
                    <li><a href="<%=communities[i].webLink%>" target="_blank"><span class="icon-link"></span></a></li>
                    <% } %>
                    <% if (communities[i].fbLink) {%>
                    <li><a href="<%=communities[i].fbLink%>" target="_blank"><span class="icon-facebook"></span></a></li>
                    <% } %>
                    <% if (communities[i].linkedinLink) {%>
                    <li><a href="<%=communities[i].linkedinLink%>" target="_blank"><span class="icon-linkedin"></span></a></li>
                    <% } %>
                    <% if (communities[i].meetupLink) {%>
                    <li><a href="<%=communities[i].meetupLink%>" target="_blank"><span class="icon-meetup"></span></a></li>
                    <% } %>
                </ul>
            </div>

            <div class="members">
                <% if (communities[i].memberList.length == 0) {%>
                    <span>No member has joined yet</span>
                <% } %>
                <%  _.forEach(communities[i].memberList, function (member) { %>
                    <%console.log(member);%>
                   <img class="join" title="<%=member.name%>" data-id="<%=member._id%>" src="<%=member.facebook.avatar%>">
                <% }) %>
            </div>

            <% if ( user.communityList) {
                    var isMember = user.communityList.some(function (member) {
                        return member.equals(communities[i]._id);
                    });
                }
                if (!isMember) { %>
            <div class="actions">
                <a class="btn btn-primary join" href="community/join/<%=communities[i]._id%>" data-communityId = <%=communities[i]._id%> >join community</a>
                <a class="btn btn-primary leave hidden" href="community/leave/<%=communities[i]._id%>" >leave community</a>
            </div>
            <% } else { %>
            <div class="actions">
                <a class="btn btn-primary join hidden" href="community/join/<%=communities[i]._id%>" data-communityId = <%=communities[i]._id%> >join community</a>
                <a class="btn btn-primary leave" href="community/leave/<%=communities[i]._id%>" >leave community</a>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login in order to join</h4>
                </div>
                <div class="modal-body">
                    Please login with one of the following accounts in order to join the community.
                </div>
                <div class="modal-footer">
                    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                    <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container footer">
    <div class="row">
        <div class="col-xs-12">
            <p>Sunday night work in progress.</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>