<html>
<head>
    <title>{{subject}}</title>
</head>
<body>
Hello,<br /><br />
A new community is pending: {{title}} ({{id}}) by ({{userName}} - {{userProfileUrl}}).<br/><br/>
Description:<br/>
{{description}}<br/><br/>
{{#if photo}}
Pictures:<br/>
{{photo}}<br/><br/>
{{/if}}
Don't forget to activate it :)
</body>
</html>