<form id="editCommunity">
    <div class="col-sm-4 community-sidebar">
        <div>
            {{#if community.logoURL}}
                <div>
                    <img class="edit" src="{{community.logoURL}}">
                    <span class="icon-cancel" onclick="deleteFile('{{community.logoURL}}', 'logoURL')"></span>
                </div>
            {{else}}
                <div class="drop-area small">
                    <input type="file" id="logoURL" accept="image/*">
                    <span>(380px x 240px Jpeg file)</span>
                </div>
                <span class="icon-cancel bg-light-grey"></span>
            {{/if}}
        </div>
        <div class="form-group">
            <label class="mandatory">Category List</label>
            <select id="select-category" name="categories" multiple="multiple">
                {{#each categories}}
                    <option value="{{this.id}}" {{#inSelected this.id ../community.categories}}{{/inSelected}}>{{this.text}}</option>
                {{/each}}
            </select>
            <label class="mandatory">Community name</label>
            <input name="title" value="{{community.title}}">
            <label>Website</label>
            <input name="webLink" value="{{community.webLink}}">
            <label>Facebook page</label>
            <input name="fbLink" value="{{community.fbLink}}">
            <label>Meetup page</label>
            <input name="meetupLink" value="{{community.meetupLink}}">
            <label>Linkedin page</label>
            <input name="linkedinLink" value="{{community.linkedinLink}}">
        </div>
    </div>
    <article class="col-sm-8">
        <div>
            {{#if community.photoURL}}
                <img class="cover-image edit" src="{{community.photoURL}}">
                <span class="icon-cancel" onclick="deleteFile('{{community.photoURL}}', 'photoURL')"></span>
            {{else}}
                <div class="drop-area">
                    <input type="file" id="photoURL" accept="image/*">
                    <span>(380px x 240px Jpeg file)</span>
                </div>
                <span class="icon-cancel bg-light-grey"></span>
            {{/if}}
        </div>
        <div class="edit-about">
            <div class="add-note row">
                <div class="col-xs-12">
                    <label class="mandatory">About community</label>
                    <textarea name="desc">{{community.desc}}</textarea>
                </div>
                {{#if community._id}}
                    <input id="communityId" type="hidden" name="_id" value="{{community._id}}">
                    <button id="updateCommunity" class="default green small pull-right">Save changes</button>
                {{else}}
                    <div class="col-xs-12">
                        <span class="terms pull-left">By continuing you agree with <a href="#">Terms and Conditions</a></span>
                        <button id="saveCommunity" class="default green small pull-right">Submit community</button>
                    </div>
                {{/if}}
            </div>
        </div>
    </article>
</form>
